<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sucess! (Secret)</title>
</head>
<body>
<h1>This is the Secret Page, Don't Tell anyone!</h1>
<a href="/logout">Log Out</a>

<table>
    <thead>
    <tr>
        <th scope="col">User Name</th>
        <th scope="col">Code Name</th>
        <th scope="col">Secret Message</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="secret: ${currentUser.secrets}">
        <td th:text="${secret.user.username}">User Name</td>
        <td th:text="${secret.codeName}">Code Name</td>
        <td th:text="${secret.secretMessage}">Secret Message</td>
    </tr>
    </tbody>
</table>

<h2>Add New Secret Messages</h2>
<form action="/post-secret" method="POST">
    <label for="codeName">Code Name:</label>
    <input type="text" id="codeName" name="codeName" placeholder="Code Name" required autofocus><br>
    <label for="secretMessage">Secret Message:</label>
    <input type="text" id="secretMessage" name="secretMessage" placeholder="Secret Message" required><br>
    <input type="submit" value="Add Secret Message">
</form>
</body>


</html>